#============= surfaceflinger ==============
allow surfaceflinger device:chr_file { getattr ioctl };

allow surfaceflinger sw_sync_device:chr_file { read write ioctl open };
allow surfaceflinger hwc_prop:property_service set;
allow surfaceflinger proc:file { read open ioctl };
