#============= ueventd ==============
allow ueventd sysfs_gpsdrv:lnk_file relabelto;
allow ueventd sysfs_msensord_daemon_file:file relabelto;
allow ueventd sysfs_sensor_file:dir relabelto;
allow ueventd sysfs_sensor_file:file relabelto;
allow ueventd sysfs_sensor_file:lnk_file relabelto;
